.App-header {
  text-align: center;
}

.App {
  background-color: #e0e0e0;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.toolbar {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
